
<div class="row">
    <div class="col-md-6">
        <h1>Favourites Quotes in Angular</h1>
        <div *ngFor="let quote of quotes: let i=index">
            <h1>{{quote.name}}</h1>
            <p>{{quote.quoteTitle}}</p>
            <a  (click)= "showDetails(i)" class="btn btn-sm btn-block btn btn-success">See more</a>
            <app-quote-details [quote]="quote" *ngIf="quote.seeMore" [quote]="quote" (deleteQuote)= 'deleteThisQuote(event,i)'></app-quote-details>
        </div>
    </div>
   
<div *ngIf="quotes.length <1" class="alert alert-warning"> No quotes available.

</div>
<div class="col-md-6">
    <app-quote-form></app-quote-form>
</div>
</div>

